html {
    background: #f3f3f4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: rgb(224, 224, 224);
    font-weight: 600;
    font-size: 0.84rem;
}

input {
    appearance: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    font-weight: 600;
    color: #333;
}

input:focus {
    outline: none;
    border: 1px solid #7edac7;
}

img, ul, li, div, a, p, span, h1, h2, h3, h4, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
    outline: none;
    border: 1px solid #dadada;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    font-weight: 600;
    color: #333;
    padding: 7px 15px; 
}

textarea::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    font-weight: 600;
    color: rgb(201, 201, 201);
}
  
textarea:-moz-placeholder { /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    font-weight: 600;
    color: rgb(201, 201, 201);
}
  
textarea::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    font-weight: 600;
    color: rgb(201, 201, 201);
}
  
textarea:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    font-weight: 600;
    color: rgb(201, 201, 201);
}
  
textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    font-weight: 600;
    color: rgb(201, 201, 201);
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    font-weight: 700;
    padding: 0;
    outline: none;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.micro{
    margin: 60px 0 20px 0;
}

.sub-title {
    font-weight: 600;
    font-size: 0.84rem;
    margin: 0 0 15px 0;
}

.signup-form {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-login {
    width: 100%;
    height: 45px;
    border: solid 1px #E2E2E2;
    border-radius: 4px;
    margin: 0 0 5px 0;
    padding: 0 15px;
    font-size: 0.84rem;
    font-weight: 600;
}

.loadding {
    display: block;
}

.not-loadding {
    display: none;
}

.show-text {
    display: block;
}

.hide-text {
    display: none;
}

.main-btn-height {
    height: 45px;
    width: 100%;
}

.green-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 100%;
    height: 30px;
    background: #1ab394;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: 700;
}

.green-btn:hover {
    background: #15ac8e;
}

.green-btn:active {
    background: #12a588;
}

/* Spiner */
.lds-ellipsis {
    display: flex;
    left: -15px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lds-ellipsis div {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 0px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 0px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 15px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 30px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(15px, 0);
    }
}

@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
/* Spener end */

.text-center {
    margin: 7px 0 0 0;
    max-width: 325px;
    font-size: 0.84rem;
    color: #9c9c9c;
    text-align: center;
}

.notification {
    height: 45px;
    width: 100%;
    font-size: 0.84rem;
    font-weight: 700;
    box-shadow: 0 2px 10px #00000013;
    position: fixed;
    z-index: 200;
    top: -50px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top .12s ease;
}

.notification-show {
    top: 0;
    background: #FFA377;
    color: #B82D00;
}

.notification-green {
    top: 0;
    background: #c7ffda;
    color: #00a034;
}

.line-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 190;
}

.white-back {
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 11px 0 #00000008;
}

.main-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1500px;
    min-width: 1085px;
    background: #fff;
    justify-content: space-between;
    padding: 0 15px 0 0;
}

.main-categories {
    display: flex;
}

.main-categories div {
    display: flex;
    align-items: center;
}

.work-info {
    position: relative;
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #15ac8e;
    color: #fff;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
}

.main-categories a {
    display: block;
    font-weight: 700;
    font-size: 0.84rem;
    text-decoration: none;
    color: #4c5154;
    padding: 12px 20px;
}

.main-categories a:hover {
    color: #15ac8e;
}

a.logo-text {
    padding: 10px 30px;
    background: #15ac8e;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

a.logo-text:hover {
    color: #fff;
}

p.logo-text {
    padding: 10px 30px;
    background: #15ac8e;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

p.logo-text:hover {
    color: #fff;
}

/* //////////////// SEARCHINPUT //////////////// */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.whiteback {
    background: #fff;
    width: 100%;
    height: 30px;
}

.search-results {
    width: 100%;
    height: 135px;
    border: 1px solid #dadada;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px #00000013;
    position: absolute;
    z-index: 999;
    overflow: auto;
}

.search-item {
    padding: 4px 15px;
    cursor: pointer;
}

.active-row {
    background: #f5f5f5;
}

.search-item:hover {
    background: #f5f5f5;
}

.search-input {
    width: 100%;
    height: 35px;
    border: 1px solid #dadada;
    background: #fff;
    padding: 0 15px;
    border-radius: 4px;
}

/* //////////////// SEARCHINPUT //////////////// */

.sub-menu {
    flex-direction: column;
    position: absolute;
    top: 42px;
    background: #fff;
    width: 150px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 2px 11px 0 #00000008;
    z-index: 200;
}

.drop-menu + .sub-menu {
    display: none;
}

.drop-menu:hover + .sub-menu {
    display: block;
}

.sub-menu:hover {
    display: block;
}

.work-info p {
    font-size: 0.84rem;
    font-weight: 600;
    margin: 0 15px 0 0;
}

.blue-text {
    color: #1f85da;
}

.menu-active {
    color: #15ac8e !important;
    background: #e2fff9;
}

.nav-con-menu {
    position: absolute;
    box-shadow: 0 2px 8px 0 #00000012;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 4px;
    background: #fff;
    color: #333;
    font-size: 0.7rem;
    font-weight: 700;
    right: 13px;
    top: 13px;
    width: 130px;
    transition: transform .1s ease;
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;
    z-index: 180;
}

.nav-con-menu-transform {
    transform: scale(1);
    opacity: 1;
}

.nav-con-menu a,
.nav-con-menu div {
    padding: 7px 15px;
    text-decoration: none;
    color: #333;
}

.nav-con-menu a:hover,
.nav-con-menu div:hover {
    background: #e2fff9;
    color: #15ac8e;
    cursor: pointer;
}

.login-name {
    color: #15ac8e;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 7px 17px;
}

.pending {
    width: 100%;
    max-width: 1500px;
    padding: 0 15px 0 0;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pending-wide {
    width: 100%;
    padding: 0 15px 0 0;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pending-lists {
    position: relative;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    min-width: 450px;
    background: #fff;
    box-shadow: 0 2px 11px 0 #00000008;
    border-radius: 4px;
    margin: 0 15px 0 0;
}

.specimen-processing {
    position: relative;
    padding: 15px;
    width: 100%;
    min-width: 605px;
    background: #fff;
    box-shadow: 0 2px 11px 0 #00000008;
    border-radius: 4px;
    margin-bottom: 80px;
}

.top-section-title {
    position: absolute;
    top: 0;
    left: 0;
    background: #effffc;
    padding: 10px 15px;
    color: #333;
    font-size: 0.84rem;
    font-weight: 700;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.analyzes {
    margin: 36px 0 0 0;
    display: flex;
    overflow: auto;
}

.tab {
    color: #676a6c;
    font-weight: 700;
    font-size: 0.84rem;
    padding: 5px 11px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-bottom: 1px solid #e7eaec;
}

.active-tab {
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #e7eaec;
    border-bottom: none;
    color: #15ac8e;
    z-index: 200;
}

.pad15-mar15 {
    margin: 15px;
    padding: 15px;
    background: #fff;
    border: 1px solid #dadada;
}

.flex {
    display: flex;
}

.plate-menu {
    margin: 0 15px 0 0;
    flex-basis: 20%;
}

.plate-menu-item {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    background: #f1f1f1;
    color: #474849;
    font-weight: 700;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 4px 0;
    border-radius: 3px;
    cursor: pointer;
}

.plate-menu-item:hover {
    background: #cef5ee;
}

.plate-menu-item-active {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    background: #50cab2;
    color: #474849;
    font-weight: 700;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 4px 0;
    border-radius: 3px;
    cursor: pointer;
}

.pad15 {
    padding: 15px;
}

.plate-title {
    background: #cafff4;
    font-weight: 700;
    font-size: 0.8rem;
    width: 100%;
    height: 25px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.width100 {
    width: 100%;
}

.plate-settings {
    width: 100%;
    border: 1px solid #dadada;
}

.mar15 {
    margin: 15px;
}

.wid120 {
    width: 120px;
}